
@{
    ViewBag.Title = "Giới Thiệu ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<section id="breadcrumb-wrapper5" class="breadcrumb-w-img">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">

                    <h2>
                        Giới thiệu
                    </h2>

                </div>
                <div class="breadcrumb-small">
                    <a href="@Url.Action("index","User")" title="Quay trở về trang chủ">Trang chủ</a>



                    <span aria-hidden="true">/</span>
                    <span>Giới thiệu</span>


                </div>
            </div>
        </div>
    </div>
</section>*@


<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content" role="main">
        <section id="page-wrapper">
            <div class="wrapper">
                <div class="inner">
                    <div class="grid" style="display: flex; justify-content: space-evenly;">
                        <div class="wrap">
                            <div class="sidebar right">
                                <div class="sidebar-content">
                                    <div class="order-summary order-summary-is-collapsed">
                                        <div class="order-summary-sections" style="width:550px; text-align:center; margin-bottom:100px">
                                            <img class="product-image-feature" src="@Url.Content("~/img/pet960x1050.jpg")" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar left">
                            <div class="sidebar-content">
                                <div class="order-summary order-summary-is-collapsed">
                                    <h1 style="font-size: 40px; color: #c83c38">THÔNG TIN THÀNH VIÊN NHÓM</h1>
                                    <div class="grid__item large--one-whole">

                                        <div class="rte">
                                            <p><strong style="font-size:20px">Thành viên nhóm 7:</strong></p><div><ul><li><span>AAAAA</span><br></li><li><span>BBBBB</span><br></li><li><span>CCCCC</span><br></li><li><span>DDD</span><br></li></ul></div>
                                           
                                        </div>


                                    </div>


                                </div>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
        </section>

    </main>
</div>


<div id="modalAddComplete">
</div>

<button type="button" id="modalAddCompleteBtn" style="display: none;"></button>

<script>
    // Get the modal
    var modalAddComplete = document.getElementById('modalAddComplete');

    // Get the button that opens the modal
    var modalAddCompleteBtn = document.getElementById("modalAddCompleteBtn");

    // When the user clicks the button, open the modal
    modalAddCompleteBtn.onclick = function () {
        modalAddComplete.style.display = "block";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalAddComplete) {
            modalAddComplete.style.display = "none";
        }
    }
</script>

<script language="javascript" src="~/Scripts/ajax-cart5eef.js"></script>
<!-- Custom script -->
<script>
    if ($(window).width() > 768) {
        setTimeout(function () {
            $("#ProductThumbs .thumbnail-item:first-child a").trigger('click');
        }, 10);
    };
</script>
<script language="javascript" src="~/Scripts/hoverchangeimage.js"></script>
<!-- accordion -->
<script language="javascript" src="~/Scripts/accordion.js"></script>
<!-- Owl carousel init -->
<script language="javascript" src="~/Scripts/Owlcarousel.js"></script>
<!-- Back to top -->
<script language="javascript" src="~/Scripts/backtotop.js"></script>
<!-- Validate quantity form & trigger zoom -->
<script language="javascript" src="~/Scripts/triggerzoom.js"></script>
<!--thuc hiên-->
<script language="javascript" src="~/Scripts/thuchien.js"></script>
<!-- popup loaded -->

<script language="javascript" src="~/Scripts/quickview.js"></script>
<script>
    $(".hc-search-wrapper > a").click(function () {
        $(".search-bar-header").toggle();
    });
</script>


<style>
    .suntory-alo-phone {
        background-color: transparent;
        cursor: pointer;
        height: 120px;
        position: fixed;
        transition: visibility 0.5s ease 0s;
        width: 120px;
        z-index: 200000 !important;
    }

    .suntory-alo-ph-circle {
        animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
        background-color: transparent;
        border: 2px solid rgba(30, 30, 30, 0.4);
        border-radius: 100%;
        height: 100px;
        left: 0px;
        opacity: 0.1;
        position: absolute;
        top: 0px;
        transform-origin: 50% 50% 0;
        transition: all 0.5s ease 0s;
        width: 100px;
    }

    .suntory-alo-ph-circle-fill {
        animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
        border: 2px solid transparent;
        border-radius: 100%;
        height: 70px;
        left: 15px;
        position: absolute;
        top: 15px;
        transform-origin: 50% 50% 0;
        transition: all 0.5s ease 0s;
        width: 70px;
    }

    .suntory-alo-ph-img-circle {
        /* animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim; */
        border: 2px solid transparent;
        border-radius: 100%;
        height: 50px;
        left: 25px;
        opacity: 0.7;
        position: absolute;
        top: 25px;
        transform-origin: 50% 50% 0;
        width: 50px;
    }

    .suntory-alo-phone.suntory-alo-hover, .suntory-alo-phone:hover {
        opacity: 1;
    }

    .suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
        animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
    }

    .suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
        animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
    }

    .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone:hover .suntory-alo-ph-circle {
        border-color: #bd0000;
        opacity: 0.5;
    }

    .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
        border-color: #bd0000;
        opacity: 1;
    }

    .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
        border-color: #bd0000;
        opacity: 1;
    }

    .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
        background-color: rgba(0, 175, 242, 0.9);
    }

    .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
        background-color: #bd0000;
    }

    .suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
        background-color: #bd0000;
        text-align: center;
    }

    i.icon-phone3:before {
        content: "\e0cd";
        font-family: 'Material Icons';
        left: 5px;
        bottom: -2px;
        position: absolute;
    }

    .list_social {
        position: fixed;
        z-index: 9999999 !important;
        display: none;
        bottom: 115px;
        left: 21px;
        /*transaction: 0.5s;*/
    }

        .list_social .social {
            padding: 7px 0px;
            font-size: 19px;
        }

        .list_social.show {
            display: block !important;
        }

    .social i {
        padding-right: 10px;
    }

    .social span, .social fa {
        color: #bd0000
    }

    .social .fa-phone:before {
        content: "\f095";
        background: #bd0000;
        padding: 5px;
        color: #fff;
    }

    .phone_hotline:before {
        content: "\f0d9";
        font-family: Fontawesome;
        position: absolute;
        left: -10px;
        font-size: 30px;
        bottom: -5px;
        color: #bd0000;
    }

    .phone_hotline {
        position: fixed;
        left: 100px;
        bottom: 50px;
        font-size: 24px;
        background: #bd0000;
        padding: 0px 10px;
    }
</style>
<script>
    $(".hc-search-wrapper > a").click(function () {
        $(".search-bar-header").toggle();
    });
</script>











