
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .text {
        color: black;
        position: absolute;
        top: 30px;
        margin-left: 30px;
        background: rgb(255 255 255 / 42%);
    }
    }
</style>
<h1 class="text" align="center">TRANG QUẢN TRỊ VIÊN</h1>
<img src="~/img/slider-image/pet2.jpg" style="height:max-content; color:white; " />
<section id="home-articles">
    <div class="wrapper">
        <div class="inner">
            <h2 class="section-title text-center" style="text-align:center">
                Nghe nhạc thư giãn ^^
            </h2>
            <div class="grid">

                <div id="owl-home-articles-slider" class="owl-carousel owl-theme">
                    <div class="item grid__item">
                        <div class="article-item">
                            <div class="article-img">
                                <a style="text-align:center" href="https://www.youtube.com/embed/38AFNvoXP-U">

                                    <div class="blog-post-audio">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/38AFNvoXP-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    @*<img src="../file.hstatic.net/1000359177/article/image1_20190102104221_large.png" alt="Những cách buộc dây giày đẹp ai nhìn cũng thích mê" />*@
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
